html,
body,
table
{
	width: 100%;
	font-family: monospace;
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}
body
{
	padding: 1em;
}
.urlPath
{
	max-width: 30em;
	word-wrap: break-word;
}
tbody>tr>td:first-child
{
	text-align: right;
}
tbody>tr:nth-child(odd)
{
	background: rgba(0, 0, 0, 0.05);
}
tbody>tr:hover
{
	background: rgba(0, 0, 0, 0.15);
}
th,
td
{
	padding: 0.35em;
	line-height: 1.5em;
}
tr
{
	padding-bottom: 0.5em;
}
thead>tr>td
{
	font-weight: bold;
	text-align: center;
}
